$navbar-default-bg:#FFF2A9;
$base-color:#333333;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float:left;
  font-size:1.7em;
  color:red;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color:#fff;
  text-decoration: none;
}

.jumbotron{
  // border-radius:5%;
  // background-image:asset-url('cover.jpg');
  // background-size:cover;
  // height:30rem;
  // width:80rem;
  background-image: linear-gradient(
     to right bottom,
     rgba(white, .7),
     rgba($navbar-default-bg, .8)),
  asset-url('cover.jpg');
  background-size: cover;
  background-position: top;
}

.jumbo-mask{
    // background: rgba(255,255,255,0.5);
    // height:100%;
    // width:100%;
}

.jumbo-message{
  text-align:center;
  color: $base-color;
}

.signup{
  
  &,
  &:link,
  &:visited{
  background:#FBD558;
  color:$base-color;
  text-transform:uppercase;
  cursor:pointer;
  padding: 1.5rem 4rem;
  display: inline-block;
  transition: all .2s;
  border: none;
  position: relative;
  }
  
  &:hover{
  transform:translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.6);
  color:$base-color;
  background:$navbar-default-bg;
  
  }
  
  
  &::after {
      content:"";
      display:inline-block;
      height:100%;
      width:100%;
      position:absolute;
      top:0;
      left:0;
      z-index:-1;
      transition: all .2s;
    }
}
.signup-white{
  background:$navbar-default-bg;
}

.signup-white::after{
  background:$navbar-default-bg;
}

.signup:hover::after {
  transform: scale(2);
  opacity:0;

}

.description{
  margin-top:0;
  text-align:center;
}

.well a{
  color:#333333;
  
}

.chef_info{
  margin-top:10px;
}

.return-link a{
  color:#333333;
  text-align:center;
}

.listing{
  list-style: name;
  padding-left:0;
}

.chef-title {
  color: $base-color;
  font-size: 1.25em;
  font-weight:bold;
}

.input_checkbox input {
  width: auto !important;
}

.center-block{
  float:none;
  
}
.chat-container{
  bottom:0;
  left:0;
  right:0;
  top:150px;
  width:80%;
}
.message-container{
  .form-control{
    float:left;
    width:80%;
  }
  .btn{
    float:right;
    possition: relative;
    height: 54px !important;
    width:18%;
  }
}

.message{
  padding-left: 5px;
  padding-top: 10px;
}

.messages{
  border:1px solid;
  height: 16em;
  position:relative;
  overflow:auto;
  
}